<ul class="uk-nav uk-nav-side">
	<li class="uk-nav-header">Welcome Sidebar</li>
	<li class="uk-active"><a href="#">Link</a></li>
	<li><a href="">Link</a></li>
	<li><a href="">Link</a></li>
	<li><a href="">Link</a></li>
	<li class="uk-nav-header">Sidebar</li>
	<li><a href="">Link</a></li>
	<li><a href="">Link</a></li>
	<li><a href="">Link</a></li>
	<li><a href="">Link</a></li>
	<li><a href="">Link</a></li>
	<li><a href="">Link</a></li>
	<li class="uk-nav-header">Sidebar</li>
	<li><a href="">Link</a></li>
	<li><a href="">Link</a></li>
	<li><a href="">Link</a></li>
</ul>